#no-mobile{
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
}

/*미디어 쿼리로 화면 크기 제한*/
/*단 모든 html에 no-mobile div를 작성해야함!*/
@media screen  and (max-width: 645px){
    #no-mobile{
        display: none;
    }
}